* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Make sure the size of the image fits perfectly into the container */
img {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}
.google_icon {
  width: 32px;
  height: 32px;
}
